<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rtc.mapper.SysMeetingMapper">
    
    <resultMap type="SysMeeting" id="SysMeetingResult">
        <result property="id"    column="id"    />
        <result property="meetingId"    column="meeting_id"    />
        <result property="title"    column="title"    />
        <result property="userId"    column="user_id"    />
        <result property="password"    column="password"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="isRestricted"    column="is_restricted"    />
        <result property="attendees"    column="attendees"    />
        <result property="createTime"    column="create_time"    />
        <result property="attendeesName" column="attendees_name" />
    </resultMap>

    <sql id="selectSysMeetingVo">
        select id, meeting_id, title, user_id, password, start_time, end_time, is_restricted, attendees, attendees_name, create_time from sys_meeting_data
    </sql>

    <select id="selectSysMeetingList" parameterType="SysMeeting" resultMap="SysMeetingResult">
        <include refid="selectSysMeetingVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="startTime != null "> and start_time >= #{startTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="isRestricted != null "> and is_restricted = #{isRestricted}</if>
            <if test="attendeesName != null  and attendeesName != ''"> and attendees_name like concat('%', #{attendeesName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysMeetingById" parameterType="Long" resultMap="SysMeetingResult">
        <include refid="selectSysMeetingVo"/>
        where id = #{id}
    </select>
    <select id="selectSysMeetingByMeetingId" resultType="com.ruoyi.rtc.domain.SysMeeting">
        <include refid="selectSysMeetingVo"></include>
        where meeting_id = #{meetingId}
    </select>

    <insert id="insertSysMeeting" parameterType="SysMeeting" useGeneratedKeys="true" keyProperty="id">
        insert into sys_meeting_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="meetingId != null">meeting_id,</if>
            <if test="title != null">title,</if>
            <if test="userId != null">user_id,</if>
            <if test="password != null">password,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="isRestricted != null">is_restricted,</if>
            <if test="attendees != null">attendees,</if>
            <if test="attendeesName != null">attendees_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="meetingId != null">#{meetingId},</if>
            <if test="title != null">#{title},</if>
            <if test="userId != null">#{userId},</if>
            <if test="password != null">#{password},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="isRestricted != null">#{isRestricted},</if>
            <if test="attendees != null">#{attendees},</if>
            <if test="attendeesName != null">attendeesName,</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysMeeting" parameterType="SysMeeting">
        update sys_meeting_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="meetingId != null">meeting_id = #{meetingId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="password != null">password = #{password},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="isRestricted != null">is_restricted = #{isRestricted},</if>
            <if test="attendees != null">attendees = #{attendees},</if>
            <if test="attendeesName != null">attendees_name = #{attendeesName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysMeetingById" parameterType="Long">
        delete from sys_meeting_data where id = #{id}
    </delete>

    <delete id="deleteSysMeetingByIds" parameterType="String">
        delete from sys_meeting_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>